# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Client
client/node_modules
client/dist
client/dist-ssr
client/*.local

# Server
server/.env
server/node_modules
server/dist

# Local Netlify folder
.netlify


#testing
server/tesdting.js
server/db/tesdting.js
server/helpers/chat1.js
server/routers/chat1.js
server/openstream.js